<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global >
	@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;

		font-family: "MedievalSharp", serif;
		font-weight: 400;
		font-style: normal;
	}

	.page_left {
		background-color: rgba(246,240,228,1);
		box-shadow: inset 15px 0 40px 20px rgba(218,187,132,1);
	}
	
	.page_right {
		background-color: rgba(246,240,228,1);
		box-shadow: inset -15px 0 40px 20px rgba(218,187,132,1);
	}

	.notch {
		clip-path: polygon(
        0% 0%,
        48% 0%,
		49% 5px,
        51% 5px,
        52% 0%,
        100% 0%,
		100% 100%,
		0% 100%
    	);
	}

</style>
